* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --bgColor: #3e3f46;
    --width-btn: 500px;
    --height-btn: 150px;
}

html,
body {
    height: 100%;
    width: 100%;
}

.mainPage {
    height: 100%;
    width: 100%;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonForm {
    position: relative;
    height: var(--height-btn);
    width: var(--width-btn);
    transform-style: preserve-3d;
    background-color: var(--bgColor);
    transition: .5s;
    /* transition-delay: .75s; */
    box-shadow: 10px 10px 10px black, -10px -10px 10px #666666;
}

.buttonForm::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: calc(var(--width-btn) / 4);
    width: 0;
    transform-origin: top;
    transform: rotateX(90deg);
    background-color: transparent;
    transition: .5s;
}

.buttonShadow {
    height: 100%;
    width: 0;
    background-color: transparent;
    transition: .5s;
    transform-style: preserve-3d;
    transform-origin: bottom;
    transform: rotateX(-90deg) translateZ(100px) scale(1.1);
}

.buttonBox {
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBox .btnPart {
    position: absolute;
    top: 0;
    left: calc(25% * var(--i));
    height: 100%;
    width: 25%;
    background-color: var(--bgColor);
    transform-style: preserve-3d;
    transition: .5s;
    transition-delay: .5s;
}

.buttonBox .btnPart::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background-color: aqua;
    transform-origin: right;
    transform: rotateY(-90deg);
    transition: .5s;
    transition-delay: .25s;
}

.btnContent {
    user-select: none;
    z-index: 20;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    font-weight: bolder;
    background-color: transparent;
    transition: .5s;
}

/* Acitve */
.buttonForm.active {
    transform: rotateX(-15deg) rotateY(45deg);
    box-shadow: unset;
}

.buttonForm.active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: calc(var(--width-btn) / 4);
    width: 100%;
    transform-origin: top;
    transform: rotateX(90deg);
    background-color: #01d6d6;
    transition-delay: 1.5s;
}

.buttonForm.active  .buttonShadow {
    height: 100%;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 0 20px 20px aqua;
    transition-delay: 1.5s;
}

.buttonForm.active .buttonBox .btnPart {
    transform-origin: left;
    background-color: aqua;
    transform: rotateY(-90deg);
    transition-delay: .75s;
}

.buttonForm.active .buttonBox .btnPart:nth-child(1) {
    background-color: #00adad;
}

.buttonForm.active .buttonBox .btnPart::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: calc(var(--width-btn) / 4 + 1px);
    background-color: aqua;
    transform-origin: right;
    transform: rotateY(-90deg) translateZ(2px);
    transition: .5s;
    transition-delay: 1s;
}

.buttonForm.active .btnContent {
    transform: translateZ(calc(var(--width-btn) / 4));
    transition-delay: 1.25s;
}